<h1>Stupid Coaching</h1>

<div class ="your-message">
  <h2 class="answer"><%= @ask %></h2>
  <p>-You</p>
</div>

<div class = "coach">
  <h2 class="answer"><%= @answer %></h2>
  <p>-Your coach</p>
</div>

<footer><%= link_to "Ask a new question", ask_path %></footer>
