<h1>Stupid Coaching</h1>
<div class="container-form">
  <p id="ask-anything">Ask your coach anything:</p>
  <form method="GET" action="/answer">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="" name="questions">
      <div class="input-group-append">
        <input class="btn btn-outline-secondary" type="submit" value="Ask!" id="button">
      </div>
    </div>
  </form>
</div>
