// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 15px 0 0 15px !important;
}

h1 {
  margin-left: 20px;
}

h2 {
  font-family: sans-serif;
  font-size: 17px;
  font-weight: normal;
  padding: 15px 15px 0 15px;
}

p {
  font-weight: lighter;
  font-style: italic;
  padding: 0 15px 15px 15px;
  margin-bottom: 0 !important;
}

a {
  text-decoration: none;
  margin-left: 15px;
}

.coach {
  background-color: #fbefcc;
  border-left: 7px solid #b2b2b2;
  margin: 15px 0 0 15px;
}

.your-message {
  border-left: 7px solid #b2b2b2;
  margin-left: 15px;
}

.container-form {
  width: 450px;
  margin: 20px 0 0 20px;
}

.answer {
  font-size: 16px;
}

#question {
  display: inline-block;
  margin: 0;
  width: 300px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  border: 2px solid lightgray;
}

#button {
  background-color: #034f84;
  color: white;
}
